# Ignore virtual environment directories
ad_venv/

# Ignore Environmental Variables File
*.env

# Ignore specific files & folders
/Tests/ReAct Framework/langchaintest.json
/Tests/(Nima) PBA/Test PDFs
/Tests/(Nima) PBA/test #4/pdf_extractor/pj_directory/src/ground_truth
